<div class="card mb-3">
  <div class="card-body col-auto">
    <h5>Title: {{ book.Title }}</h5>
    <p class="mb-0">
      <b>Author: </b>{{ book.Author }}<br />
      <b>Genre: </b>{{ book.Genre }}<br />
      <b>Publish year: </b>{{ book.PublishYear }}
    </p>
    <div *ngIf="book.Collections && book.Collections.length > 0">
      <p class="m-0">
        <b>Collections: </b>
        <span
          *ngFor="let collection of book.Collections"
          class="badge bg-warning text-dark mx-1"
          >{{ collection }}</span
        >
      </p>
    </div>

    <div class="position-absolute top-0 end-0 m-2">
      <button (click)="onDelete()" class="btn btn-danger btn-sm mx-1">
        <i class="bi bi-trash"></i>
      </button>
      <button (click)="onClickEditClose()" class="btn btn-primary btn-sm">
        <i class="bi bi-x-square" *ngIf="isEditing"></i>
        <i class="bi bi-pencil-square" *ngIf="!isEditing"></i>
      </button>
    </div>

    <div *ngIf="isEditing" class="p-0 mt-3">
      <book-form [book]="book" [bookGenres]="bookGenres"></book-form>
    </div>
  </div>
</div>
